<div class="app-right-container">
  <router-outlet></router-outlet>
</div>
<div id="app-center-container">
  <app-center-header></app-center-header>
  <app-icon-input [iconList]="iconList" [marginRight]="'4px'"></app-icon-input>
  <app-select-button-group [list]="selectButtonList" [(ngModel)]="selectedButtonList"></app-select-button-group>
  <app-tag-box-group [(ngModel)]="selectedButtonList"></app-tag-box-group>

  <app-upload>

  </app-upload>

  <app-image-collection></app-image-collection>
  <button (click)="showData()">测试</button>
</div>

