<div id="app-left-container">
  <div id="left-nav-top">
    <div id="hospital-logo"><img src="../../../../assets/images/logo.png">
    </div>
    <div id="hospital-name">{{hospitalName}}</div>
  </div>
  <app-loading [attr.status]="leftShowLoading" class="loading6 white"></app-loading>


  <div id="left-menu-container">
    <div id="left-menu">
      <div *ngFor="let menuList of navData;let i = index;" class="main-menu">
        <div class="main-menu-item" [ngClass]="{'main-menu-active': i === currOpenedModule}"
             (click)="onMainMenuClick($event,i,menuList.title)">
          <i class="left-icon {{menuList.icon}}" aria-hidden="true"></i>
          <span>{{menuList.title}}</span>
          <div *ngIf="menuList.subItems && menuList.subItems.length > 0" class="main-menu-arrow"></div>
        </div>
        <div class="sub-menu-box" *ngIf="menuList.subItems && menuList.subItems.length > 0">
          <div *ngFor="let subItem of menuList.subItems;let i = index" class="sub-menu-item"
               (click)="onSubMenuClick($event,subItem.link)"
               [ngStyle]="{'margin-top': (i===0 ? '-'+(menuList.subItems.length * 40) + 'px' :''), transition: (i===0 ? 'margin-top 0.2s':'')}">
            {{subItem.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="left-nav-bottom">
    <div class="user-head"><img src="../../../../assets/images/logo.png"></div>
    <div class="user-name">用户名</div>
    <div class="user-exit"></div>
  </div>
</div>
<!--<div *ngIf="isUserOptions" class="left-name-options-box" [ngStyle]="{'height': (userOptions.length * 2)+'rem'}"-->
<!--@fadeIn>-->
<!--<div *ngFor="let user of userOptions" class="name-menu-item">-->
<!--<span @fadeIn>{{user.name}}</span>-->
<!--</div>-->
<!--</div>-->
