<div class="right-header">
  {{componentName}}
<div class="right-back icon" (click)="onRightContainerBack($event)"></div>
<div class="right-control">
  <div class="right-close icon fr" (click)="onRightContainerClose($event)"></div>
  <div class="right-more icon fr" *ngIf="controlList && controlList.length > 0"
       (click)="clickMoreList($event)">
    <div class="more-ctrl-list" [attr.status]="moreListStatus" (click)="onRightMoreCtrl($event)">
      <div class="right-more-mask" (click)="onClickMoreMask($event)"></div>
      <div class="right-ctrl-more">
        <div class="right-more-item" *ngFor="let ctrlItem of controlList; let i = index"
             (click)="moreItemClick($event,i)">{{ctrlItem}}
        </div>
      </div>
      <div class="right-ctrl-arrow"></div>
    </div>
  </div>
</div>
</div>
