<input type="text"
       placeholder="{{placeholder}}"
       (focus)="onModelTouched()"
       [formControl]="textInput"/>
<span class="icon-list"
      [ngStyle]="{'right':marginRight}"><i *ngFor="let item of iconList;let i = index;"
                                           class="input-icon input-{{item.icon}}"
                                           [ngStyle]="{'color':item.color}"
                                           (click)="onModelIconClick(i)" aria-hidden="true"></i></span>

