<span>{{moduleName}}</span>
<div class="center-control">
  <div class="search-panel fr">
    <span (click)="onSearchClick($event)">
      <i aria-hidden="true"></i>
    </span>
    <input id="search-key" type="text" (keyup)="onKeyUp($event)" [(ngModel)]="searchKey" placeholder="{{placeholder}}"/>
  </div>
  <div class="control-icon config"><i aria-hidden="true"></i></div>
  <div class="control-icon filter" *ngIf="controlList && controlList.length == 1" (click)="onControlClick(0)"><i
    class="fa fa-plus" aria-hidden="true"></i></div>
  <div class="control-icon add" (click)="onFilterClick()"><i [ngStyle]="displayFilterStatus" aria-hidden="true"></i>
  </div>
  <div class="control-icon more" (click)="onOptionsClick()"><i [ngStyle]="displayFilterStatus" aria-hidden="true"></i>
  </div>

  <div class="control-icon" *ngIf="showButtonStat === 2" [ngStyle]="moreControlDDL">
    <div class="click-mask" *ngIf="showMoreControl" (click)="hideMoreList($event)"></div>
    <div class="more-control-arrow"></div>
    <div class="more-control-list">

      <div *ngFor="let menuItem of plusList; let i = index" class="more-control-item"
           (click)="onAddClick($event,i)">{{menuItem.title}}
      </div>
    </div>
  </div>
</div>

