/*****变量定义*******************/
/*****颜色*****************/
/*****常规文字颜色*****/
$color1_1: #333333;
$color1_2: #666666;
$color1_3: #999999;
/*****板块背景颜色/分割线颜色*****/
$color2_1: #dbdbdb;
$color2_2: #fbfbfe;
$color2_3: #e6e7f3;
$color2_4: #ffffff;
/*****按钮背景颜色/菜单背景颜色*****/
$color3_1: #7a80fa;
$color3_2: #605bf5;
$color3_3: #524ddb;
$color3_4: transparent;
/*****标签/提示性文字颜色*****/
$color4_1: #fea356;
$color4_2: #379d65;
$color4_3: #d8385d;
$color4_4: #fe4e74;
/*****颜色结束*****************/
/*****文本*****************/
$font-family: Arial, Helvetica, "微软雅黑", sans-serif;
$font-size-html: 20px;
$font-size1: 0.8rem;
$font-size2: 0.7rem;
$font-size3: 0.6rem;
/*****文本结束*****************/
/*****圆角*****/
$radius: 0.2rem 0.2rem;
$solid1: solid 1px;
/*****变量定义结束*******************/
* {
  box-sizing: border-box;
}

.fl {
  float: left
}

.fr {
  float: right
}

html {
  height: 100%;
  font-size: $font-size-html;
  background-color: $color2_4;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size3;
  overflow: auto;
}

/*****框架开始*****/
app-root {
  height: 100%;
  overflow: hidden;
  min-width: 24rem;
  position: relative;
}

app-left-content {
  display: block;
  position: absolute;
  left: 0;
  z-index: 1;
  height: 100%;
  background-color: #7a80fa;
}

#app-main-mask {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
  left: 0;
}

#app-main-container {
  height: 100%;
  overflow: hidden;
  z-index: 1;
  position: absolute;
}

app-main-root {
  display: block;
  height: 100%;
  overflow: hidden;
}

app-main-root > :nth-child(2) {
  position: relative;
}

#app-center-container {
  position: absolute;
  z-index: 1;
  height: 100%;
}

app-center-header {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  transition: padding 0.2s;
  font-size: $font-size1;
  color: $color1_1;

  .center-control {
    display: flex;
    justify-content: flex-end;
  }
}

.right-slider-container {
  position: absolute;
  z-index: 2;
  height: 100%;
  border-left: $solid1 $color2_1;
  background-color: $color2_2;
  top: 0;
}

.right-slider-container.large {
  width: 861px;
  right: -861px;
  transition: right 0.2s;
}

.right-slider-container.large[status='show'] {
  width: 861px;
  right: 0;
  transition: right 0.2s;
}

.right-slider-container.large + #app-center-container {
  width: 100% !important;
}

/***** 宽屏显示 *****/
@media only screen and (min-width: 1601px) {
  app-left-content {
    width: 9rem;
    left: 0;
    transition: width 0.2s, left 0.2s;
  }
  #app-main-container {
    width: calc(100% - 9rem);
    left: 9rem;
    transition: width 0.2s, left 0.2s;
  }

  .right-slider-container {
    width: calc((100% - 960px - 481px) / 2 + 481px);
    right: 0;
    transition: width 0.2s, right 0.2s;
  }
  #app-center-container {
    width: calc((100% - 960px - 481px) / 2 + 960px);
    left: 0;
    transition: width 0.2s;
  }
}

/***** 中宽屏显示 *****/
@media only screen and (min-width: 1120px) and (max-width: 1600px) {
  app-left-content {
    width: 9rem;
    left: 0;
    transition: width 0.2s, left 0.2s;
  }
  #app-main-container {
    width: calc(100% - 9rem);
    left: 9rem;
    transition: width 0.2s, left 0.2s;
  }

  .right-slider-container {
    width: 481px;
    right: -481px;
    transition: width 0.2s, right 0.2s;
  }
  .right-slider-container[status='show'] {
    width: 481px;
    right: 0;
    transition: width 0.2s, right 0.2s;
  }
  #app-center-container {
    width: 100%;
    left: 0;
    transition: width 0.2s;
  }
}

/***** 窄屏 + iPad显示 *****/
@media only screen and (min-width: 1000px) and (max-width: 1119px) {
  app-left-content {
    width: 3rem;
    left: 0;
    transition: width 0.2s, left 0.2s;
  }
  #app-main-container {
    width: calc(100% - 3rem);
    left: 3rem;
    transition: width 0.2s, left 0.2s;
  }
  .right-slider-container {
    width: 481px;
    right: -481px;
    transition: width 0.2s, right 0.2s;
  }
  .right-slider-container[status='show'] {
    width: 481px;
    right: 0;
    transition: width 0.2s, right 0.2s;
  }
  #app-center-container {
    width: 100%;
    left: 0;
    transition: width 0.2s;
  }
}

/***** 大于等于480宽度的移动端显示 *****/
@media only screen and (min-width: 480px) and (max-width: 999px) {
  app-left-content {
    width: 3rem;
    left: -3rem;
    transition: width 0.2s, left 0.2s;
  }
  app-left-content[status='show'] {
    width: 9rem;
    left: 0;
    transition: width 0.2s, left 0.2s;
  }
  #app-main-container {
    width: 100%;
    left: 0;
    transition: width 0.2s, left 0.2s;
  }

  #app-main-container[status='show'] {
    left: 9rem;
    transition: left 0.2s;
  }

  .right-slider-container {
    border-left: none;
    width: 100% !important;
    right: -100% !important;
    transition: width 0.2s, right 0.2s;
  }
  .right-slider-container[status='show'] {
    width: 100% !important;
    right: 0 !important;
    transition: width 0.2s, right 0.2s;
  }
  #app-center-container {
    width: 100%;
    left: 0;
    transition: width 0.2s;
  }
  app-center-header {
    padding: 0 1rem;
    transition: padding 0.2s;
  }
  #app-main-mask[status='show'] {
    opacity: 0.2;
    z-index: 200;
    left: 9rem;
    transition: z-index 0.2s, opacity 0.2s, left 0.2s;
  }
}

@media only screen and (max-width: 479px) {
  app-left-content {
    width: 9rem;
  }
}

/*****框架结束*****/

/***** 按钮组开始 *****/
div.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.button-group > button {
  margin-left: 0.7rem !important;
}

div.button-group > button:first-child {
  margin-left: 0 !important;
}

div.button-group-right {
  justify-content: flex-end;
  text-align: right !important;
}

div.button-group-left {
  justify-content: flex-start;
}

/***** 按钮组结束 *****/
/***** 按钮开始 *****/
button {
  border-radius: $radius;
  border: $solid1 $color3_1;
  font-size: $font-size3;
  text-align: center;
  color: $color3_1;
  background-color: $color3_4;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: $color3_2;
  color: $color2_4;
}

button:disabled {
  color: $color1_3;
  border: $solid1 $color2_1;
}

.button1 {
  height: 1rem;
  min-width: 2.3rem;
  padding: 0 0.6rem;
  background-color: $color3_1;
  color: $color2_4;
  border: 0;
}

.button2 {
  height: 1rem;
  min-width: 3rem;
  padding: 0 0.9rem;

}

.button3 {
  height: 1.6rem;
  min-width: 3rem;
  padding: 0 0.9rem;

}

.button4 {
  height: 1.6rem;
  min-width: 4rem;
  padding: 0 1rem;
}

.button5 {
  height: 1.6rem;
  min-width: 4rem;
  padding: 0 1rem;
  background-color: $color3_1;
  border: 0;
  color: $color2_4;
}

/*****弹窗系统*****/
app-front-layer {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  position: fixed;
  z-index: 0;
  opacity: 0;
  transition: z-index 0.2s, opacity 0.2s;
}

app-front-layer > .front-container {
  width: 100%;
  height: 100%;
  position: relative;
}

app-front-layer[status='show'] {
  opacity: 1;
  z-index: 1000;
  transition: z-index 0.2s, opacity 0.2s;
}

app-front-layer .popup-mask {
  position: absolute;
  z-index: 0;
  background-color: #202020;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

app-popup-window {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.popup-window {
  position: relative;
  box-shadow: 0 0 6px 1px #333;;
}

.popup-window .popup-title {
  height: 3.05rem;
  border-bottom: $solid1 $color2_1;
  background-color: $color2_4;
  position: relative;
}

.popup-title > .popup-back {
  position: absolute;
  cursor: pointer;
  width: 0;
  left: 0.7rem;
  height: 1.6rem;
  top: .7rem;
  overflow: hidden;
}

.popup-title > .popup-back i {
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 1.3rem;
  width: 1.6rem;
  text-align: center;
  color: #7B81FA;
}

.popup-title > .popup-name {
  text-align: left;
  font-size: .8rem;
  color: $color1_1;
  line-height: 3rem;
  text-indent: 1rem;
}

.popup-title > .popup-close {
  position: absolute;
  cursor: pointer;
  width: 1.6rem;
  right: 0.7rem;
  height: 1.6rem;
  top: .7rem;
  overflow: hidden;
}

.popup-title > .popup-close i {
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 1.3rem;
  width: 1.6rem;
  text-align: center;
  color: #7B81FA;
}

.popup-window .popup-window-mask {
  z-index: -1;
  position: absolute;
  background-color: #000000;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-window .popup-window-mask[status='hide'] {
  z-index: -1;
  opacity: 0;
  transition: z-index 0.2s, opacity 0.2s;
}

.popup-window .popup-window-mask[status='show'] {
  z-index: 1000;
  opacity: 0.6;
  transition: z-index 0.2s, opacity 0.2s;
}

.popup-window .popup-content {
  background-color: $color2_4;
  height: calc(100% - 3.05rem)
}

.popup-content-box {
  padding: 30px 30px 10px 30px
}

/***** text popup *********/
.popup-content-box.text-message {
  padding-bottom: 30px;
  min-height: 120px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-window .popup-content .button-group {
  padding: 0 30px;
  height: 3.05rem;
  border-top: $solid1 $color2_1;
}

.popup-window .popup-content > * {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.popup-content-empty {
  height: 0;
}

.popup-window .popup-content > * > .popup-content-box {
  max-height: 100%;
  overflow-y: auto;
}

.popup-window .popup-content .button-group + .popup-content-box {
  max-height: calc(100% - 61px);
}

app-popup-confirm {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  left: 0;
  top: 0;
}

.popup-confirm {
  max-width: 24rem;
  width: 24rem;
  padding: 3rem 4rem 1.5rem;
  background-color: $color2_4;
  position: relative;
  opacity: 0;
  transition: opacity 0.2s;
}

.popup-confirm[status='show'] {
  opacity: 1;
  transition: opacity 0.2s;
}

.popup-confirm[status='hide'] {
  opacity: 0;
  transition: opacity 0.2s;
}

.popup-confirm .confirm-close {
  height: 1.6rem;
  width: 1.6rem;
  position: absolute;
  text-align: center;
  line-height: 1.6rem;
  right: 0.7rem;
  top: 0.7rem;
}

.popup-confirm .confirm-close i {
  font-size: 1rem;
}

.popup-confirm .button-group button {
  margin-left: 0.5rem !important;
}

.popup-confirm .confirm-message {
  color: $color1_1;
  font-size: $font-size1;
  padding: 0.5rem 0 3rem;
  line-height: 1rem;
  text-align: center;
}

.confirm-icon {
  display: flex;
  justify-content: center;
}

.popup-confirm .alert-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50% 50%;
  background-color: $color4_4;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: $color2_4;
}

/*大于等于1000的通用样式*/
@media screen and (min-width: 1000px) {
  .popup-window {
    max-height: calc(100% - 8rem);
    max-width: calc(100% - 8rem);
  }
  .popup-title > .popup-name {
    text-align: left !important;
    text-indent: 1.5rem !important;
    transition: text-align .2s, text-indent .2s;
  }
  .popup-title > .popup-back {
    width: 0 !important;
    transition: width .2s;
  }
}

@media screen and (max-width: 999px) {
  .popup-window {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    left: 0 !important;
    top: 0 !important;
    max-height: 100% !important;
    max-width: 100% !important;
    transition: width .2s, height .2s, left .2s, top .2s;
  }

  .popup-title > .popup-name {
    text-align: center !important;
    text-indent: 0 !important;
    transition: text-align .2s, text-indent .2s;
  }
  .popup-title > .popup-back {
    width: 1.6rem !important;
    transition: width .2s;
  }

  .popup-title > .popup-close {
    width: 0 !important;
    transition: width .2s;
  }
  .popup-content-box {
    padding: 30px 20px 10px 20px
  }

  .popup-window .popup-content .button-group {
    padding: 0 20px;
  }

  .popup-confirm {
    width: calc(100% - 3rem);
  }

}

/*****loading加载中样式*****/
app-loading {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  left: 0;
  top: 0;
}

app-loading[status='show'] {
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.2s, z-index 0.2s;
}

app-loading[status='hide'] {
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s, z-index 0.2s;
}

.app-loading-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-loading-container .loading-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.6;
}

app-loading.loading1 .loading-circle {
  width: 200px;
  height: 200px;
}

app-loading.loading2 .loading-circle {
  width: 160px;
  height: 160px;
}

app-loading.loading3 .loading-circle {
  width: 120px;
  height: 120px;
}

app-loading.loading4 .loading-circle {
  width: 100px;
  height: 100px;
}

app-loading.loading5 .loading-circle {
  width: 80px;
  height: 80px;
}

app-loading.loading6 .loading-circle {
  width: 60px;
  height: 60px;
}

app-loading.loading7 .loading-circle {
  width: 40px;
  height: 40px;
}

app-loading.loading8 .loading-circle {
  width: 20px;
  height: 20px;
}

app-loading img {
  display: none;
}

app-loading.purple .img2 {
  display: none;
}

app-loading.white .img1 {
  display: none;
}

.loading-circle img {
  animation: loading-bg .5s linear infinite;
  transform-origin: 50% 50%;
  width: 100%;
  height: 100%;
}

@keyframes loading-bg {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes loading-bg {
  0% {
    transform: rotateZ(0deg);
    transform-origin: 50% 50%;
  }
  25% {
    transform: rotateZ(91deg);
    transform-origin: 50% 50%;
  }
  50% {
    transform: rotateZ(181deg);
    transform-origin: 50% 50%;
  }
  75% {
    transform: rotateZ(271deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotateZ(360deg);
    transform-origin: 50% 50%;
  }
}
